[submodule "plugins/mcpm-sync"]
	path = plugins/mcpm-sync
	url = https://github.com/DjodyKort/mcpm-sync.git
	branch = feat/smart-pull
[submodule "plugins/mcpm-mcp"]
	path = plugins/mcpm-mcp
	url = git@github.com:DjodyKort/mcpm-mcp.git
[submodule "plugins/mcpm-council"]
	path = plugins/mcpm-council
	url = git@github.com:DjodyKort/mcpm-council.git
